---
export interface Props {
  title?: string;
  description?: string;
  keywords?: string;
}

const { 
  title = 'Baum Studios — between architecture and urban matters',
  description = 'Baum Studios is a spatial practice founded by Sara Blekić focusing on architecture and urbanism. The studio collaborates with a variety of spatial and non-spatial practitioners, engaging in projects across multiple scales.',
  keywords = 'architect, urbanist, architecture, urbanism, spatial design, spatial practice, Sara Blekić, Zagreb, Croatia'
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content={keywords}>
  <meta name="description" content={description}>
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap" rel="stylesheet">
</head>
<body>
  <slot />
  <script src="https://player.vimeo.com/api/player.js"></script>
</body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
